body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.header{
    background-color: #f5f6f7;
    padding: 40px 0 40px 0;
}

.header-menu{
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    text-decoration: none;
}

.header-menu-item{
    text-transform: uppercase;
    text-decoration: none;
    color: #16a085;
    margin-left: 5%;
}

.img-main{
    text-align: center;
    background: #f5f6f7;
}

.content-text{
    text-align: center;
    padding-top: 25px;
    color:  #373737;
}

.content-text-title{
    text-transform: uppercase;
    font-size: 22px;
}

.content-text-lorem{
    padding: 0 16% 0 16%;
    font-size: 16px;
}

.content-button{
    height: 51px;
    width: auto;
    border-radius: 3px;
    background-color:  #16a085;
    margin-top: 41px;
    text-align: center;
    display: inline-block;
    padding: 0 20px;
}

.content-button-name{
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 51px;
}

.content{
    background-color: #f5f6f7;
    padding-bottom: 94px;
    text-align: center;
}

.footer{
    padding: 54px 0 54px 0;
}

.footer-copyright{
    font-size: 16px;
    color: #373737;
    float: right;
    padding: 0 16% 0 16%;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
